<%= div_for(comment) do %>
	<div class="comments_wrapper clearfix">
		<div class="pull-left">
			<p class="lead"><%= comment.body %></p>
			<p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> 
			by <%= link_to comment.user.name, "/users/"+comment.user.id.to_s %></small></p>
		</div>
		<div class="btn-group pull-right">
		<% if comment.user == current_user -%>
			<%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-sm btn-default" %>
			<%= link_to 'Destroy', comment, method: :delete, data: { 
										confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
		<% else %>
			<%= link_to like_comment_path(comment), method: :put, class: "btn btn-default btn-sm" do %>
				<span class="glyphicon glyphicon-chevron-up"></span>
				Upvote
				<%= comment.get_upvotes.size %>
			<% end %>
			<%= link_to dislike_comment_path(comment), method: :put, class: "btn btn-default btn-sm" do %>
				<span class="glyphicon glyphicon-chevron-down">
				Unvote
			<% end %>
		<% end %>
		</div>
			<%= form_with model: Comment.new, url: reply_comment_path, local: true do |f| %>
				<div class="field">
				<%= f.text_area :body, class: "form-control" %>
				<%= hidden_field_tag "comment_id", "#{comment.id}" %>
				</div>
				<br>
				<%= f.submit "Add Reply", class: "btn btn-primary" %>
			<% end %>
		<ul>
			<div id="replies">
				<%= render :partial => comment.comments %>
			</div>
		</ul>
	</div>
<% end %>

