<p id="notice"><%= notice %></p>

<h1>Threads</h1>

<table>
  <thead>
    <tr>
      <th>Link   </th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.link_id %></td>
        <td><%= comment.body %></td>
        <div class="btn-group">
        <td><%= link_to 'Show', "/links/"+comment.link_id.to_s , class: "btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>