<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.api_key %>
</p>

<% if @user == current_user -%>
  <%= link_to 'Edit', edit_user_path(@user) , class: "btn btn-default"%> 
  <%= link_to 'Voted_comments', "/comments/voted_comments" , class: "btn btn-default"%> 
  <%= link_to 'Comments', "/comments/threads" , class: "btn btn-default"%> 
  <%= link_to 'Voted_links', "/links/voted_links" , class: "btn btn-default"%> 
  <%= link_to 'links', "/links/my_links" , class: "btn btn-default"%> 
<% end -%>



