<p id="notice"><%= notice %></p>

<h1>My links</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.id %></td>
        <td><%= link.title %></td>
        <div class="btn-group">
        <td><%= link_to 'Show', "/links/"+link.id.to_s , class: "btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_link_path(link), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>