<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by 
      <%= link_to link.user.name, "/users/"+link.user.id.to_s %></small>
    </h2>

    <!-- Vote implementation -->
    <div class="btn-group">
      <%unless link.url == '' %>
        <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
      <% end %>
      <% if link.user != current_user -%>
        <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          Upvote
          <%= link.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down">
          Unvote
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>    